* {
    margin: 0;
    padding: 0;
    /*outline: 1px dotted rgb(255, 0, 0);*/
    font-family: sans-serif;
}

h1 {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin: 1em 0;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    margin: 1em 0;
}

h4 {
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    margin: 1em 0;
}

body {
    height: 100%;
    background-color: rgb(200, 253, 236);
    margin: 0;
    padding: 0;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(51, 204, 120) 50%, rgb(52, 174, 255) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

.content {
    background-color: rgba(255, 255, 255, .8);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: monospace;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

.box {
    justify-content: space-around;
    margin: 8%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.144);
    border-radius: 45px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    list-style-type: none;
}

div ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}